[req]
default_bits              = 2048
req_extensions            = extension_requirements
distinguished_name        = dn_requirements

[extension_requirements]
basicConstraints          = CA:FALSE
keyUsage                  = nonRepudiation, digitalSignature, keyEncipherment

[dn_requirements]
countryName               = CN
stateOrProvinceName       = BJ
localityName              = BJ
0.organizationName        = goodvm
organizationalUnitName    = IT
commonName                = grpc.goodvm.net
emailAddress              = cliu@goodvm.net


